################################################################################
################################################################################
##        v   BEYOND REALITY API    -    ACCOUNT MANGAGEMENT                  ##
################################################################################
################################################################################
# Remark :                        Swagger 2.0 to ensure compliance with API Connect
swagger:                          "2.0"
info:
  title:                          "BEYOND MANAGER USER API"
  description:                    "This API aims are to provide a control on **account**"
  version:                        1.0.0

host:                             "F.Q.D.N_of_the_host"
consumes:
  - application/json
produces:
  - application/json
basePath:                         "/api/v1"
schemes:
  - https
################################################################################

tags:
  - name:                         "Account"
    description:                  "Account management APIs"

################################################################################

paths:
  #------------------------------------------------------------------------------#
  '/account':
    get:
      tags:
        - Account
      summary:                    "List of Account"
      description:                "Retrieve the list of Account"

      parameters:
        - name:                   page
          type:                   string
          in:                     query
          description:            account page to display(if specified need limit query)

        - name:                   limit
          type:                   string
          in:                     query
          description:            Limit number of  page of account to display(if specified need page query)

        - name:                   search
          type:                   string
          in:                     query
          description:            Keyword for searching

        - name:                   column
          type:                   string
          in:                     query
          description:            Define which column will be used for ordering (if specified need order query)
          enum:                   ['firstname', 'lastname']

        - name:                   order
          type:                   string
          in:                     query
          description:            Define the direction of the ordering (if specified need column query)
          enum:                   ['ASC', 'DESC']

        - name:                   allData
          type:                   string
          in:                     query
          description:            If true, get all data without pagination
          enum:                   ['true', 'false']

      responses:
        '200':
          description:            Success
          schema:
            properties:
              code:
                type:             number
                example:          200
              action:
                type:             string
                example:          'ACCOUNT_GET_SUCCESS'
              count:
                type:             integer
                example:          1
              pages:
                type:             integer
                example:          1
              data:
                type:             array
                items:
                  type:           object
                  properties:
                    id:
                      type:       number
                      example:    1
                    email:
                      type:       string
                      example:    'test@ibm.com'
                    statusId:
                      type:       integer
                      example:    1
                    firstname:
                      type:       string
                      example:    'toto'
                    lastname:
                      type:       string
                      example:    'toto'
                    companyId:
                      type:       number
                      example:     1
                    providerUserId:
                      type:       string
                      example:    'wxfgcxkjlhkgjvhcfgvjhuoip'
                    companyName:
                      type:       string
                      example:    "IBM"
                    companyCode:
                      type:       string
                      example:    "IBM"

        '406':
          description:            Query not valid
          schema:
            properties:
              errorCode:
                type:             string
                example:          "QUERY_NOT_VALID"
              code:
                type:             integer
                example:          406
              action:
                type:             string
                example:          "ACCOUNT_GET_ERROR"
              message:
                type:             string
                example:          "Le format de la reqûete est invalide(query)."
              languageCode:
                type:             string
                example:          "FR-fr"


        '500':
          description:            Internal server error
          schema:
            properties:
              code:
                type:             integer
                example:          500
              errorCode:
                type:             string
                example:          'INTERNAL_SERVOR_ERROR'
              action:
                type:             string
                example:          'ACCOUNT_GET_ERROR'
              message:
                type:             string
                example:          "Erreur interne lors de la récupération des utilisateurs."
              languageCode:
                type:             string
                example:          "fr-FR"

    post:
      tags:
        - Account
      summary:                    "Create account"
      description:                "Create a new user"
      parameters:
        - name:                   Account
          in:                     body
          description:            Contains account's informations
          schema:
            required:
              - email
              - firstname
              - lastname
              - statusId
              - companyCode
            properties:
              email:
                type:             string
                example:          "account@test.com"
              firstname:
                type:             string
                example:          "John"
              lastname:
                type:             string
                example:          "Doe"
              statusId:
                type:             number
                example:          1
              companyCode:
                type:             string
                example:          "My Company"
      responses:
        '200':
          description:            "Success"
          schema:
            properties:
              code:
                type:             number
                example:          200
              action:
                type:             string
                example:          'ACCOUNT_CREATE_SUCCESS'
              message:
                type:             string
                example:          "SUCCESS"
              data:
                type:             object
                properties:
                  id:
                    type:         string
                    example:      "1"
                  email:
                    type:         string
                    example:      "account@test.com"
                  statusId:
                    type:         string
                    example:      "1"
                  firstname:
                    type:         string
                    example:      "John"
                  lastname:
                    type:         string
                    example:      "Doe"
                  companyCode:
                    type:         string
                    example:      "My Company"
                  providerUserId:
                    type:         string
                    example:      "wxfgcxkjlhkgjvhcfgvjhuoip"

        '406':
          description:            Body not valid
          schema:
            properties:
              code:
                type:             integer
                example:          406
              errorCode:
                type:             string
                example:          'BODY_NOT_VALID'
              action:
                type:             string
                example:          'ACCOUNT_CREATION_ERROR'
              message:
                type:             string
                example:          "Le format de la reqûete est invalide."
              languageCode:
                type:             string
                example:          'fr-FR'

        '500':
          description:            Internal server error
          schema:
            properties:
              code:
                type:             integer
                example:          500
              errorCode:
                type:             string
                example:          'INTERNAL_SERVOR_ERROR'
              action:
                type:             string
                example:          'ACCOUNT_CREATION_ERROR'
              message:
                type:             string
                example:          "Erreur interne lors de la création de l'utilisateur."
              languageCode:
                type:             string
                example:          "fr-FR"



  #------------------------------------------------------------------------------#

  '/account/{accountId}':
    get:
      tags:
        - Account
      summary:                    "Get one account"
      description:                "Get one account"

      parameters:
        - name:                   accountId
          in:                     path
          description:            accountId url
          type:                   string
          required:               true

      responses:
        '200':
          description:            Success
          schema:
            properties:
              action:
                type:             string
                example:          'ACCOUNT_GET_SUCCESS'
              code:
                type:             number
                example:          200
              data:
                type:             object
                properties:
                  id:
                    type:         number
                    example:      1
                  email:
                    type:         string
                    example:      'test@ibm.com'
                  firstname:
                    type:         string
                    example:      'test'
                  lastname:
                    type:         string
                    example:      'test'
                  providerUserId:
                    type:         string
                    example:      "4a1a47a9-2508-488c-93ce-605acafbcdce"
                  companyId:
                    type:         number
                    example:      1
                  companyName:
                    type:         string
                    example:      'IBM'
                  companyCode:
                    type:         string
                    example:      "IBM"
                  isAdmin:
                    type:         boolean
                    example:      true
                  products:
                    type:         array
                    items:
                      type:       object
                      properties:
                        id:
                          type:     integer
                          example:  1
                        productTypeId:
                          type:     integer
                          example:  1
                        productType:
                          type:     string
                          example:  "ADMIN"
                        code:
                          type:     string
                          example:  "1"
                        label:
                          type:     string
                          example:  "ASSET"
                        description:
                          type:     string
                          example:  ""
                        image:
                          type:     string
                          example:  ""
                        icon:
                          type:     string
                          example:  ""
                        url_app:
                          type:     string
                          example:  ""
                        open_tab:
                          type:     boolean
                          example:  false
                        is_admin:
                          type:     boolean
                          example:  false

        '403':
          description:            Account not accessible
          schema:
            properties:
              code:
                type:             integer
                example:          403
              errorCode:
                type:             string
                example:          'ACCOUNT_ACCESS_DENIED'
              action:
                type:             string
                example:          'ACCOUNT_GET_ERROR'
              message:
                type:             string
                example:          "Cette information est inaccessible"
              languageCode:
                type:             string
                example:          "fr-FR"

        '404':
          description:            account not found
          schema:
            properties:
              code:
                type:             integer
                example:          404
              errorCode:
                type:             string
                example:          'ACCOUNT_NOT_FOUND'
              action:
                type:             string
                example:          'ACCOUNT_GET_ERROR'
              message:
                type:             string
                example:          "L'objet n'existe pas ou n'est pas accessible."
              languageCode:
                type:             string
                example:          "fr-FR"


        '500':
          description:            Internal server error
          schema:
            properties:
              code:
                type:             integer
                example:          500
              errorCode:
                type:             string
                example:          'INTERNAL_SERVOR_ERROR'
              action:
                type:             string
                example:          'ACCOUNT_GET_ERROR'
              message:
                type:             string
                example:          "Erreur interne lors de la récupération de l'utilisateur."
              languageCode:
                type:             string
                example:          "fr-FR"

    put:
      tags:
        - Account
      summary:                    "Update Account"
      description:                "Update an existing Account"

      parameters:
        - name:                   accountId
          in:                     path
          description:            accountId url
          type:                   string
          required:               true

        - name:                   Account
          in:                     body
          description:            Account body
          schema:
            required:
              - firstname
              - lastname
              - companyCode
              - products
            properties:
              firstname:
                type:             string
                example:          "Pierre"
              lastname:
                type:             string
                example:          "Jean"
              companyCode:
                type:             string
                example:          "TEST"
              companies:
                type:             array
                items:
                  type:           object
                  required:
                    - id
                    - code
                  properties:
                    id:
                      type:       number
                      example:    1
                    code:
                      type:       string
                      example:    'IBM'
                    label:
                      type:       string
                      example:    'IBM'
                    description:
                      type:       string
                      example:    'IBM'
              products:
                type:             array
                items:
                  type:           number
                  description:    Product's id
                  example:        1

      responses:
        '200':
          description:            Success
          schema:
            properties:
              code:
                type:             integer
                example:          200
              action:
                type:             string
                example:          'ACCOUNT_UPDATE_SUCCESS'
              message:
                type:             string
                example:          "SUCCESS"
              data:
                type:             object
                properties:
                  id:
                    type:         integer
                    example:      1
                  firstname:
                    type:         string
                    example:      "Pierre"
                  lastname:
                    type:         string
                    example:      "Jean"
                  companyCode:
                    type:         string
                    example:      "TEST"


        '406':
          description:            Body not valid
          schema:
            properties:
              code:
                type:             integer
                example:          406
              errorCode:
                type:             string
                example:          'BODY_NOT_VALID'
              action:
                type:             string
                example:          'ACCOUNT_UPDATE_ERROR'
              message:
                type:             string
                example:          "Le format de la reqûete est invalide."
              languageCode:
                type:             string
                example:          'fr-FR'


        '404':
          description:            account not found
          schema:
            properties:
              code:
                type:             integer
                example:          404
              errorCode:
                type:             string
                example:          'ACCOUNT_NOT_FOUND'
              action:
                type:             string
                example:          'ACCOUNT_UPDATE_ERROR'
              message:
                type:             string
                example:          "L'objet n'existe pas ou n'est pas accessible."
              languageCode:
                type:             string
                example:          "fr-FR"


        '500':
          description:            Internal server error
          schema:
            properties:
              code:
                type:             integer
                example:          500
              errorCode:
                type:             string
                example:          'INTERNAL_SERVOR_ERROR'
              action:
                type:             string
                example:          'ACCOUNT_UPDATE_ERROR'
              message:
                type:             string
                example:          "Erreur interne lors de la modification de l'utilisateur."
              languageCode:
                type:             string
                example:          "fr-FR"

    delete:
      tags:
        - Account
      summary:                    "Delete Account"
      description:                "Delete an existing Account"

      parameters:
        - name:                   accountId
          in:                     path
          description:            account id
          type:                   string
          required:               true

      responses:
        '200':
          description:            "Success"
          schema:
            properties:
              type:
                type:             string
                example:          'ACCOUNT_DELETE_SUCCESS'
              message:
                type:             string
                example:          "SUCCESS"
              code:
                type:             number
                example:          200
              userId:
                type:             integer
                example:          1
        '404':
          description:            user doesn't exist
          schema:
            properties:
              code:
                type:             integer
                example:          404
              errorCode:
                type:             string
                example:          'NO_CONTENT'
              action:
                type:             string
                example:          'ACCOUNT_DELETE_ERROR'
              message:
                type:             string
                example:          "L'objet n'existe pas ou n'est pas accessible."
              languageCode:
                type:             string
                example:          'fr-FR'
        '500':
          description:            Server Error
          schema:
            properties:
              code:
                type:             integer
                example:          500
              errorCode:
                type:             string
                example:          'INTERNAL_SERVOR_ERROR'
              action:
                type:             string
                example:          'ACCOUNT_DELETE_ERROR'
              message:
                type:             string
                example:          "une erreur lors de la suppression d'un utilisateur"
              languageCode:
                type:             string
                example:          'fr-FR'

  #------------------------------------------------------------------------------#

  '/account/{accountId}/companies':
    get:
      tags:
        - Account
      summary:                    "Get companies of an target account and current account"
      description:                "Get companies of an target account and current account"

      parameters:
        - name:                   accountId
          in:                     path
          description:            accountId url
          type:                   string
          required:               true

      responses:
        '200':
          description:            Success
          schema:
            properties:
              action:
                type:             string
                example:          'ACCOUNT_COMPANIES_GET_SUCCESS'
              code:
                type:             number
                example:          200
              data:
                type:             array
                items:
                  type:           object
                  properties:
                    id:
                      type:       integer
                      example:    1
                    code:
                      type:       string
                      example:    "12323dsvzv-sdvds23"
                    label:
                      type:       string
                      example:    'TEST'
                    description:
                      type:       string
                      example:    'company'
                    is_deleted:
                      type:       boolean
                      example:    false


        '500':
          description:            Internal server error
          schema:
            properties:
              code:
                type:             integer
                example:          500
              errorCode:
                type:             string
                example:          'INTERNAL_SERVOR_ERROR'
              action:
                type:             string
                example:          'ACCOUNT_COMPANIES_GET_ERROR'
              message:
                type:             string
                example:          "Erreur interne lors de la récuperation des compangies de l'utilisateu courant."
              languageCode:
                type:             string
                example:          "fr-FR"


    #------------------------------------------------------------------------------#

  '/account/current':
    get:
      tags:
        - Account
      summary:                    "Get current user's informations"
      description:                "Get current user's informations"

      responses:
        '200':
          description:            Success
          schema:
            properties:
              action:
                type:             string
                example:          'ACCOUNT_GET_SUCCESS'
              code:
                type:             number
                example:          200
              data:
                type:             object
                properties:
                  id:
                    type:         number
                    example:      1
                  email:
                    type:         string
                    example:      'test@email.com'
                  firstname:
                    type:         string
                    example:      'test'
                  lastname:
                    type:         string
                    example:      'test'
                  providerUserId:
                    type:         string
                    example:      "4a1a47a9-2508-488c-93ce-605acafbcdce"
                  companyId:
                    type:         string
                    example:      "1"
                  companyName:
                    type:         string
                    example:      'IBM'
                  companyCode:
                    type:         string
                    example:      "IBM"
                  rights:
                    type:         object
                    properties:
                      id:
                        type:     integer
                        example:  1
                      code:
                        type:     string
                        example:  "IBM"
                      roles:
                        type:     array
                        items:
                          type:   string
                          example: "ADMIN"
                      permissions:
                        type:     array
                        items:
                          type:   string
                          example: "USER_READ"


        '500':
          description:            Internal server error
          schema:
            properties:
              code:
                type:             integer
                example:          500
              errorCode:
                type:             string
                example:          'INTERNAL_SERVOR_ERROR'
              action:
                type:             string
                example:          'CURRENT_ACCOUNT_GET_SUCCESS'
              message:
                type:             string
                example:          "Erreur interne lors de la récupération de l'utilisateur courant."
              languageCode:
                type:             string
                example:          "fr-FR"

  '/account/product/{companyProductId}':
    delete:
      tags:
        - Account
      summary:                    "Removal of access to a product from all users in a company"
      description:                "Only for Beyond administrators. Removal of access to a product from all users in a company"
      parameters:
        - name:                   companyProductId
          in:                     path
          description:            companyProduct id
          type:                   number
          required:               true

      responses:
        '200':
          description:            "Success"
          schema:
            properties:
              type:
                type:             string
                example:          'ACCOUNT_PRODUCT_LINK_DELETE_SUCCESS'
              message:
                type:             string
                example:          "SUCCESS"
              code:
                type:             number
                example:          200
        '500':
          description:            Server Error
          schema:
            properties:
              code:
                type:             integer
                example:          500
              errorCode:
                type:             string
                example:          'INTERNAL_SERVOR_ERROR'
              action:
                type:             string
                example:          'ACCOUNT_PRODUCT_LINK_DELETE_ERROR'
              message:
                type:             string
                example:          "Erreur interne lors de la suppression de l'accés produit."
              languageCode:
                type:             string
                example:          'fr-FR'


################################################################################


responses:
  200Ok:
    description:                  Successfull
  201Created:
    description:                  Created
  202Accepted:
    description:                  Accepted
  203NonAuthoritativeInformation:
    description:                  Non-Authoritative Information
  204NoContent:
    description:                  No Content
  400BadRequest:
    description:                  Bad Request
  401Unauthorized:
    description:                  Unauthorized
  403Forbidden:
    description:                  Forbidden
  404NotFound:
    description:                  Not Found
  409Conflict:
    description:                  Conflict
  500InternalServer:
    description:                  Internal Server Error
  501NotImplemented:
    description:                  Not Implemented
  502BadGateway:
    description:                  Bad Gateway
  503ServiceUnavailable:
    description:                  Service Unavailable
  504GatewayTimeout:
    description:                  Gateway Timeout
