html {
  color: rgb(0, 0, 0);
  font-size: 10pt;
  line-height: 1.4;
  font-weight: 400;
  min-height: 100%;
  font-family: 'Source Sans Pro', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif;
}
body {
  margin: 0 auto;
  max-width: 90%;
  min-height: 100%;
  padding: 2em;
  background: rgb(255, 255, 255);
  

}
#TOC:before {
  content: "Table des matières";
}
#TOC {
  background-color:rgb(247, 252, 253);
  width: 80%;
  margin-left: 10%;
  }

h1, h2, h3, h4, h5, h6 {
  color: #555;
  letter-spacing: 0.2em;
  
}
h1 {
  font-size: 200%;
  margin: 0 0 25px
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 100%;
}
h4 {
  font-size: 100%;
}
h5 {
  font-size: 100%;
}
h6 {
  font-size: 120%;
}
a {
  color: slateblue;
  text-decoration: none;
  outline: none !important;
}
a:hover,
a:focus {
  color: darkslateblue;
}


li {
  
  padding: .25em 0;
}

blockquote {
  color: #777;
  margin: 1em auto 0 auto;
  padding: 1em 2em;
  position: relative;
  background:  rgb(238, 238, 238);
  
}
blockquote:before {
  content: '';
  display: block;
  width: 5px;
  height: 100%;
  background:  rgb(187, 187, 187);
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
}
blockquote p {
  color: rgb(60, 60, 60);
  font-size: 90%;
  font-style: italic;

}
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 30px;
  background-color: rgb(112, 162, 237);
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}

img {
  border-radius: 8px;
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}